<h1>Flowers!</h1>

<a href="/flowers/new">Add a Flower</a>

<ul>
<% @flowers.each do |flower| %>
<li>
  Flower Type: <%= flower.name %> <a href="/flowers/<%=flower.id%>/edit">Edit Flower</a>
</li>
<% end %>
</ul>